<h1>Sobre la aplicación</h1>
<p>
  El <a href="http://www.railstutorial.org/"><em>Ruby on Rails
  Tutorial</em></a> es un
  <a href="http://www.railstutorial.org/book">libro</a> y
  <a href="http://screencasts.railstutorial.org/">una serie de ellos</a>
  hecho para enseñar a programar con 
  <a href="http://rubyonrails.org/">Ruby on Rails</a>.
  Esto es un ejemplo de ello.
</p>
