<% provide(:title, 'Contact') %>
<h1>Contacto</h1>
<p>
  Contacta con el libro Ruby on Rails Tutorial sobre la sample app en la
  <a href="http://www.railstutorial.org/#contact">página de contacto</a>.
</p>