<h1>Ayuda</h1>
<p>
    Puedes solicitar ayuda en el libro de Ruby on Rails Tutorial
    <a href="http://www.google.es">Ruby on Rails</a>.
    También ver los manuales en el libro <a href="http://www.google.es"><em>Ruby on Rails Tutorial</em></a>.

</p>